.hover
{
	display: none;
}

#content .content
	{
		margin-top: -4px;
		position: relative;
		z-index: 200;	
	}
	
	.page-intro .left
	{
		width: 310px;	
	}
	
	.page-intro .right
	{
		margin-top: -10px;
		padding-bottom: 10px;
	}
	
	.page-intro .image
	{
		padding-left: 10px;	
	}
	
	.grid
	{
		overflow: hidden;
	}
	
	.grid li
	{
		float: left;
	}
	
	.grid li h1
	{
		padding: 20px;
		font-size: 14px;
	}
	
	.grid li:hover a.image
	{
		-moz-box-shadow: 0 0 5px 0px #888;
		-webkit-box-shadow: 0 0 5px 0px #888;
		box-shadow: 0 0 5px 0px #888;
	}
	
	
	.results .pagination
	{
		float: right;	
		padding: 4px 10px 10px 10px;
	}
	
	.results .pagination a
	{
		margin-left: 6px;
	}
	
	.results ul
	{
		clear: both;	
		overflow: hidden;
	}
	
	.results li
	{
		width: 157px;
		height: 290px;
		margin-left: 12px;
		margin-bottom: 12px;
		background-color: white;
	}
	
	.results li a
	{
		display: block;
		width: 100%;
		overflow: hidden;
		color: #53565A;
	}
	
	.results li p
	{
		line-height: 14px;
		margin-top: 3px;
	}	

	.results li p b
	{
		font-size: 12px;
	}
	
	.results li img
	{
		border: solid 1px #e3e3e3;
		margin-left: -30px;
		width: 210px;
	}
	
#grid{
	min-height:1510px;
	}


    .team-intro {
		height: 120px;
		background: url(/in/asset/image/background/team-bg.jpg) bottom center no-repeat;
	}
	.team-intro-text {
		background-color: #fdb813;
		width: 500px;
		color: #000;
		padding: 20px;
		position: relative;
	}
	.team-intro-text img {
		position: absolute;
		top: 10px;
		right: 17px;
	}
	.team-intro-text .title {
		font-size: 22px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	.team-description{
		font-size:15px;
	}

    #content .content {
        margin-top: -5px;
    }
