/* Our Team + Portfolio Pages
	--------------------------------------------------
	------------------------------------------------*/
	.single-portfolio .top-image .navigation-prev a { position:absolute; right:100px; top:0; padding:11px 22px; font-size:11px; line-height:11px; -webkit-transition: background-color 250ms ease-in-out; -moz-transition: background-color 250ms ease-in-out; -ms-transition: background-color 250ms ease-in-out; -o-transition: background-color 250ms ease-in-out; transition: background-color 250ms ease-in-out;}
	.single-portfolio .top-image .navigation-next a { position:absolute; right:15px; top:0; padding:11px 22px; font-size:11px; line-height:11px; background:url("../img/forward-btn.gif") no-repeat scroll 56px 9px #4F1731; background-size:6px 6px; -moz-background-size:6px 6px; -webkit-background-size:6px 6px; -o-background-size:6px 6px; -webkit-transition: background-color 250ms ease-in-out; -moz-transition: background-color 250ms ease-in-out; -ms-transition: background-color 250ms ease-in-out; -o-transition: background-color 250ms ease-in-out; transition: background-color 250ms ease-in-out;}
	
	.subpage .main-content article ul.team-tabs,
	.subpage .main-content article ul.portfolio-tabs { position:relative; border-bottom:0px; }
	.subpage .main-content article ul.portfolio-tabs li { margin:0 2px 0 0; width:auto; }
	.subpage .main-content article ul.team-tabs li { margin:0 5px 0 0; width:auto; }
	.subpage .main-content article ul.portfolio-tabs li:last-child,
	.subpage .main-content article ul.team-tabs li:last-child { margin:0px; }
	.subpage .main-content article ul.team-tabs li a:active,
	.subpage .main-content article ul.team-tabs li a:link,
	.subpage .main-content article ul.team-tabs li a:visited,
	.subpage .main-content article ul.portfolio-tabs li a:active,
	.subpage .main-content article ul.portfolio-tabs li a:link,
	.subpage .main-content article ul.portfolio-tabs li a:visited { font-size:11px; line-height:11px; padding:10px 10px; border:1px solid #d1d2d4; }
	.subpage .main-content article ul.team-tabs li.active a > span,
	.subpage .main-content article ul.portfolio-tabs li.active a > span { top:30px; }
	
	.subpage .main-content article .team-tab-content .tab-pane { padding:27px 0; }
	.subpage .main-content article .team-tab-content .tab-pane .team-member-link { margin:0 17px 27px 0; width:127px; overflow:hidden; float:left; min-height:55px; }
	.subpage .main-content article .team-tab-content .tab-pane .team-member-link:nth-child(5n) { margin-right:0px; }
	.subpage .main-content article .team-tab-content .tab-pane .team-member-link div { width:127px; height:127px; }
	.subpage .main-content article .team-tab-content .tab-pane .team-member-link div img { width:100%; }
	.subpage .main-content article .team-tab-content .tab-pane .team-member-link h4 { font-size:12px; line-height:14px; }
	
	.single-our-team aside .sub-nav img { margin-bottom:23px; }
	
	.subpage .main-content article .portfolio-tab-content {  }
	.subpage .main-content article .portfolio-tab-content .tab-pane { padding:27px 0; }
	.subpage .main-content article .portfolio-tab-content .tab-pane .portfolio-list-link { float:left; margin:0 13px 13px 0; height:119px; width:166px; border:2px solid #f7f7f7; }
	.subpage .main-content article .portfolio-tab-content .tab-pane .portfolio-list-link:nth-child(4n) { margin-right:0px; }
	
	.single-portfolio .main-content article { padding:0 30px 0 0; }
	.single-portfolio .main-content aside { padding:0 0 0 15px; }
	
	.single-portfolio aside .portfolio-sidebar img {  margin-bottom:20px; }
	.single-portfolio aside .portfolio-sidebar h5 { font-size:11px; line-height:15px; }
	.single-portfolio aside .portfolio-sidebar h5 + p { font-size:11px; line-height:15px; margin-bottom:16px; }
	.single-portfolio aside .portfolio-sidebar a:active,
	.single-portfolio aside .portfolio-sidebar a:link,
	.single-portfolio aside .portfolio-sidebar a:visited,
	.single-portfolio aside .portfolio-sidebar a:hover,
	.single-portfolio aside .portfolio-sidebar a:focus { font-size:11px; line-height:11px; padding:11px 22px 11px 36px; background: url("../img/link-ico.png") no-repeat scroll 11px 8px / 18px 18px #4F1731; }
